BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SortIncludes: true
IncludeBlocks: Regroup
ReflowComments: true
AlignAfterOpenBracket: Align
AlignOperands: true
BinPackArguments: false
BinPackParameters: false
FixNamespaceComments: true
Cpp11BracedListStyle: true